<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    version="5.0">

    <display-name>FTM Garments Management</display-name>

    <!-- REQUIRED: ties this webapp to the default OFBiz delegator -->
    <context-param>
        <param-name>delegatorName</param-name>
        <param-value>default</param-value>
    </context-param>

    <context-param>
        <param-name>localDispatcherName</param-name>
        <param-value>ftm-garments</param-value>
    </context-param>

    <context-param>
        <param-name>mainDecoratorLocation</param-name>
        <param-value>component://ftm-garments/widget/FtmGarmentsCommonScreens.xml</param-value>
    </context-param>

    <!-- Uses default OFBiz security (OFBTOOLS permission) -->
    <context-param>
        <param-name>security.default.classpath</param-name>
        <param-value>org.apache.ofbiz.security.OFBizSecurity</param-value>
    </context-param>

    <filter>
        <filter-name>ContextFilter</filter-name>
        <filter-class>org.apache.ofbiz.webapp.control.ContextFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.apache.ofbiz.webapp.control.ControlEventListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>ControlServlet</servlet-name>
        <servlet-class>org.apache.ofbiz.webapp.control.ControlServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControlServlet</servlet-name>
        <url-pattern>/control/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
